# Python API Example - Access Terminal Costs Import and Storage

Here we import terminal costs from the Spark Access Python API. 

We then store them as local variables so that they can be used for analysis.

This guide is designed to provide an example of how to access the Spark API:
- The path to your client credentials is the only input needed to run this script (just before Section 2)
- This script has been designed to display the raw outputs of requests from the API, and then shows you how to format those outputs to enable easy reading and analysis
- This script can be copied and pasted by customers for quick use of the API

__N.B. This guide is just for Access terminal data. If you're looking for other API data products (such as contract prices, Freight routes or Netbacks), please refer to their according code example files.__

## 1. Importing Data

Here we define the functions that allow us to retrieve the valid credentials to access the Spark API.

This section can remain unchanged for most Spark API users.

In [1]:
import json
import os
import sys
import pandas as pd
import numpy as np
from base64 import b64encode
from urllib.parse import urljoin
from pprint import pprint

try:
    from urllib import request, parse
    from urllib.error import HTTPError
except ImportError:
    raise RuntimeError("Python 3 required")


API_BASE_URL = "https://api.sparkcommodities.com"


def retrieve_credentials(file_path=None):
    """
    Find credentials either by reading the client_credentials file or reading
    environment variables
    """
    if file_path is None:
        client_id = os.getenv("SPARK_CLIENT_ID")
        client_secret = os.getenv("SPARK_CLIENT_SECRET")
        if not client_id or not client_secret:
            raise RuntimeError(
                "SPARK_CLIENT_ID and SPARK_CLIENT_SECRET environment vars required"
            )
    else:
        # Parse the file
        if not os.path.isfile(file_path):
            raise RuntimeError("The file {} doesn't exist".format(file_path))

        with open(file_path) as fp:
            lines = [l.replace("\n", "") for l in fp.readlines()]

        if lines[0] in ("clientId,clientSecret", "client_id,client_secret"):
            client_id, client_secret = lines[1].split(",")
        else:
            print("First line read: '{}'".format(lines[0]))
            raise RuntimeError(
                "The specified file {} doesn't look like to be a Spark API client "
                "credentials file".format(file_path)
            )

    print(">>>> Found credentials!")
    print(
        ">>>> Client_id={}****, client_secret={}****".format(
            client_id[:5], client_secret[:5]
        )
    )

    return client_id, client_secret


def do_api_post_query(uri, body, headers):
    url = urljoin(API_BASE_URL, uri)

    data = json.dumps(body).encode("utf-8")

    # HTTP POST request
    req = request.Request(url, data=data, headers=headers)
    try:
        response = request.urlopen(req)
    except HTTPError as e:
        print("HTTP Error: ", e.code)
        print(e.read())
        sys.exit(1)

    resp_content = response.read()

    # The server must return HTTP 201. Raise an error if this is not the case
    assert response.status == 201, resp_content

    # The server returned a JSON response
    content = json.loads(resp_content)

    return content


def do_api_get_query(uri, access_token):
    url = urljoin(API_BASE_URL, uri)

    headers = {
        "Authorization": "Bearer {}".format(access_token),
        "accept": "application/json",
    }

    print(f"Fetching {url}")

    # HTTP GET request
    req = request.Request(url, headers=headers)
    try:
        response = request.urlopen(req)
    except HTTPError as e:
        print("HTTP Error: ", e.code)
        print(e.read())
        sys.exit(1)

    resp_content = response.read()

    # The server must return HTTP 201. Raise an error if this is not the case
    assert response.status == 200, resp_content

    # The server returned a JSON response
    content = json.loads(resp_content)

    return content


def get_access_token(client_id, client_secret):
    """
    Get a new access_token. Access tokens are the thing that applications use to make
    API requests. Access tokens must be kept confidential in storage.

    # Procedure:

    Do a POST query with `grantType` and `scopes` in the body. A basic authorization
    HTTP header is required. The "Basic" HTTP authentication scheme is defined in
    RFC 7617, which transmits credentials as `clientId:clientSecret` pairs, encoded
    using base64.
    """

    # Note: for the sake of this example, we choose to use the Python urllib from the
    # standard lib. One should consider using https://requests.readthedocs.io/

    payload = "{}:{}".format(client_id, client_secret).encode()
    headers = {
        "Authorization": b64encode(payload).decode(),
        "Accept": "application/json",
        "Content-Type": "application/json",
    }
    body = {
        "grantType": "clientCredentials",
        "scopes": "read:access",
    }

    content = do_api_post_query(uri="/oauth/token/", body=body, headers=headers)

    print(
        ">>>> Successfully fetched an access token {}****, valid {} seconds.".format(
            content["accessToken"][:5], content["expiresIn"]
        )
    )

    return content["accessToken"]

## N.B. Credentials

Here we call the above functions, and input the file path to our credentials.

N.B. You must have downloaded your client credentials CSV file before proceeding. Please refer to the API documentation if you have not dowloaded them already.

The code then prints the available prices that are callable from the API, and their corresponding Python ticker names are displayed as a list at the bottom of the Output.

In [2]:
# Insert file path to your client credentials here
client_id, client_secret = retrieve_credentials(file_path="/tmp/client_credentials.csv")

# Authenticate:
access_token = get_access_token(client_id, client_secret)
print(access_token)

>>>> Found credentials!
>>>> Client_id=57e4a****, client_secret=76dfd****
>>>> Successfully fetched an access token eyJhb****, valid 604799 seconds.
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoiYWNjZXNzVG9rZW4iLCJzdWIiOiI1N2U0YTIxNi01NTM2LTQ4ZTAtYmNhNS0yMmI2NTI4MDUxYTciLCJzdWJUeXBlIjoib2F1dGgtY2xpZW50IiwiZXhwIjoxNzA1OTk1Mzc4LCJoYXNoZWRTZWNyZXQiOiJwYmtkZjJfc2hhMjU2JDIxNjAwMCRVTzNublRUMmlNTXYkQ20xZEpXbEMzbThlalBVQU1JR1hwQ0pJeWV4THpHbzZScENpMVpkSVVPZz0iLCJvcmdVdWlkIjoiNmVjMmNjNDEtMWYyYS00YzEyLWFiNTQtNzIzODRmZWYyMGJlIiwic2NvcGVzIjpbInJlYWQ6YWNjZXNzIl0sImNsaWVudFR5cGUiOiJvYXV0aC1jbGllbnQifQ.8hMT326kklWeKDQenKW1NVd8JKteWLsrHxRX5UM0FCE

## 2. Latest Price Release

Here we call the latest price release and print it in a readable format. This is done using the URL:

__/beta/sparkr/releases/latest/__


We then save the entire dataset as a local variable called 'latest'.

In [3]:
## Defining the latest release function


def fetch_latest_price_releases(access_token):
    content = do_api_get_query(
        uri="/beta/sparkr/releases/latest/", access_token=access_token
    )

    return content["data"]


## Calling that function and storing the output

latest = fetch_latest_price_releases(access_token)

Fetching https://api.sparkcommodities.com/beta/sparkr/releases/latest/

In [5]:
pprint(latest[0])

{'perVesselSize': {'160000': {'assumptions': {'dischargeVolumeMmbtu': 3492366,
                                              'vesselSizeCbm': 160000},
                              'deliveryMonths': [{'costsInEurPerMwh': {'total': '1.349'},
                                                  'costsInUsdPerMmbtu': {'total': '0.433'},
                                                  'month': '2024-02-01'},
                                                 {'costsInEurPerMwh': {'total': '1.324'},
                                                  'costsInUsdPerMmbtu': {'total': '0.425'},
                                                  'month': '2024-03-01'},
                                                 {'costsInEurPerMwh': {'total': '1.281'},
                                                  'costsInUsdPerMmbtu': {'total': '0.411'},
                                                  'month': '2024-04-01'},
                                                 {'costsInEurPerMwh': {'total': '1.243'},
                                                  'costsInUsdPerMmbtu': {'total': '0.399'},
                                                  'month': '2024-05-01'},
                                                 {'costsInEurPerMwh': {'total': '1.224'},
                                                  'costsInUsdPerMmbtu': {'total': '0.393'},
                                                  'month': '2024-06-01'},
                                                 {'costsInEurPerMwh': {'total': '1.228'},
                                                  'costsInUsdPerMmbtu': {'total': '0.394'},
                                                  'month': '2024-07-01'},
                                                 {'costsInEurPerMwh': {'total': '1.231'},
                                                  'costsInUsdPerMmbtu': {'total': '0.395'},
                                                  'month': '2024-08-01'},
                                                 {'costsInEurPerMwh': {'total': '1.256'},
                                                  'costsInUsdPerMmbtu': {'total': '0.403'},
                                                  'month': '2024-09-01'},
                                                 {'costsInEurPerMwh': {'total': '1.319'},
                                                  'costsInUsdPerMmbtu': {'total': '0.423'},
                                                  'month': '2024-10-01'},
                                                 {'costsInEurPerMwh': {'total': '1.406'},
                                                  'costsInUsdPerMmbtu': {'total': '0.451'},
                                                  'month': '2024-11-01'},
                                                 {'costsInEurPerMwh': {'total': '1.453'},
                                                  'costsInUsdPerMmbtu': {'total': '0.466'},
                                                  'month': '2024-12-01'},
                                                 {'costsInEurPerMwh': {'total': '1.477'},
                                                  'costsInUsdPerMmbtu': {'total': '0.474'},
                                                  'month': '2025-01-01'}]},
                   '174000': {'assumptions': {'dischargeVolumeMmbtu': 3814333,
                                              'vesselSizeCbm': 174000},
                              'deliveryMonths': [{'costsInEurPerMwh': {'total': '1.297'},
                                                  'costsInUsdPerMmbtu': {'total': '0.416'},
                                                  'month': '2024-02-01'},
                                                 {'costsInEurPerMwh': {'total': '1.275'},
                                                  'costsInUsdPerMmbtu': {'total': '0.409'},
                                                  'month': '2024-03-01'},
                                                 {'costsInEurPerMwh': {'total': '1.232'},
                                                  'costsInUsdPerMmbtu': {'total': '0.395'},
                                                  'month': '2024-04-01'},
                                                 {'costsInEurPerMwh': {'total': '1.194'},
                                                  'costsInUsdPerMmbtu': {'total': '0.383'},
                                                  'month': '2024-05-01'},
                                                 {'costsInEurPerMwh': {'total': '1.175'},
                                                  'costsInUsdPerMmbtu': {'total': '0.377'},
                                                  'month': '2024-06-01'},
                                                 {'costsInEurPerMwh': {'total': '1.175'},
                                                  'costsInUsdPerMmbtu': {'total': '0.377'},
                                                  'month': '2024-07-01'},
                                                 {'costsInEurPerMwh': {'total': '1.178'},
                                                  'costsInUsdPerMmbtu': {'total': '0.378'},
                                                  'month': '2024-08-01'},
                                                 {'costsInEurPerMwh': {'total': '1.206'},
                                                  'costsInUsdPerMmbtu': {'total': '0.387'},
                                                  'month': '2024-09-01'},
                                                 {'costsInEurPerMwh': {'total': '1.269'},
                                                  'costsInUsdPerMmbtu': {'total': '0.407'},
                                                  'month': '2024-10-01'},
                                                 {'costsInEurPerMwh': {'total': '1.356'},
                                                  'costsInUsdPerMmbtu': {'total': '0.435'},
                                                  'month': '2024-11-01'},
                                                 {'costsInEurPerMwh': {'total': '1.403'},
                                                  'costsInUsdPerMmbtu': {'total': '0.450'},
                                                  'month': '2024-12-01'},
                                                 {'costsInEurPerMwh': {'total': '1.424'},
                                                  'costsInUsdPerMmbtu': {'total': '0.457'},
                                                  'month': '2025-01-01'}]}},
 'releaseDate': '2024-01-15',
 'terminalCode': 'zeebrugge',
 'terminalName': 'Zeebrugge'}

In [6]:
# Showing available vessel sizes
print(list(latest[0]["perVesselSize"]))

['160000', '174000']

In [7]:
# Print the latest data line-by-line

for l in latest:
    print(l["terminalName"])
    print(l["releaseDate"])
    for v in list(l["perVesselSize"]):
        print(v)
        for d in l["perVesselSize"][v]["deliveryMonths"]:
            print("Prices for " + d["month"])
            print(
                "$/MMBtu = {} , €/MWh = {}".format(
                    d["costsInUsdPerMmbtu"]["total"], d["costsInEurPerMwh"]["total"]
                )
            )

Zeebrugge
2024-01-15
160000
Prices for 2024-02-01
$/MMBtu = 0.433 , €/MWh = 1.349
Prices for 2024-03-01
$/MMBtu = 0.425 , €/MWh = 1.324
Prices for 2024-04-01
$/MMBtu = 0.411 , €/MWh = 1.281
Prices for 2024-05-01
$/MMBtu = 0.399 , €/MWh = 1.243
Prices for 2024-06-01
$/MMBtu = 0.393 , €/MWh = 1.224
Prices for 2024-07-01
$/MMBtu = 0.394 , €/MWh = 1.228
Prices for 2024-08-01
$/MMBtu = 0.395 , €/MWh = 1.231
Prices for 2024-09-01
$/MMBtu = 0.403 , €/MWh = 1.256
Prices for 2024-10-01
$/MMBtu = 0.423 , €/MWh = 1.319
Prices for 2024-11-01
$/MMBtu = 0.451 , €/MWh = 1.406
Prices for 2024-12-01
$/MMBtu = 0.466 , €/MWh = 1.453
Prices for 2025-01-01
$/MMBtu = 0.474 , €/MWh = 1.477
174000
Prices for 2024-02-01
$/MMBtu = 0.416 , €/MWh = 1.297
Prices for 2024-03-01
$/MMBtu = 0.409 , €/MWh = 1.275
Prices for 2024-04-01
$/MMBtu = 0.395 , €/MWh = 1.232
Prices for 2024-05-01
$/MMBtu = 0.383 , €/MWh = 1.194
Prices for 2024-06-01
$/MMBtu = 0.377 , €/MWh = 1.175
Prices for 2024-07-01
$/MMBtu = 0.377 , €/MWh = 1.175
Prices for 2024-08-01
$/MMBtu = 0.378 , €/MWh = 1.178
Prices for 2024-09-01
$/MMBtu = 0.387 , €/MWh = 1.206
Prices for 2024-10-01
$/MMBtu = 0.407 , €/MWh = 1.269
Prices for 2024-11-01
$/MMBtu = 0.435 , €/MWh = 1.356
Prices for 2024-12-01
$/MMBtu = 0.450 , €/MWh = 1.403
Prices for 2025-01-01
$/MMBtu = 0.457 , €/MWh = 1.424

### Storing as a Dataframe

Store the data as a Dataframe, making the data more easily readable and so that specific datasets can be indexed easily.

Here, we only use the price data fro 174 2 Stroke vessels.

In [8]:
# Setup columns for the dataframe - columns will be MultiIndexed
# So that you can index by Terminal and by Price Format

columns1 = []
columns2 = []
for i in range(len(latest)):
    columns1.append(latest[i]["terminalName"])
    columns1.append(latest[i]["terminalName"])

    columns2.append("$/MMBtu")
    columns2.append("€/MWh")

# Setup months list to use as index later
months = []
for d in latest[0]["perVesselSize"]["174000"]["deliveryMonths"]:
    months.append(d["month"])

# setup dataframe
prices_df = pd.DataFrame(
    columns=[np.array(columns1), np.array(columns2)],
    data=np.empty(shape=(len(months), len(columns1))),
)

# Loop over all the data, storing each terminals costs as lists and then inserting into the DataFrame
for l in latest:
    dollar_prices = np.empty(shape=(len(months)))
    dollar_prices[:] = np.nan
    euro_prices = np.empty(shape=(len(months)))
    euro_prices[:] = np.nan
    for d in l["perVesselSize"]["174000"]["deliveryMonths"]:
        # append price data for each month to lists
        dollar_prices[months.index(d["month"])] = d["costsInUsdPerMmbtu"]["total"]
        euro_prices[months.index(d["month"])] = d["costsInEurPerMwh"]["total"]

    # insert price data into relevant column in DataFrame
    prices_df.loc[:, (l["terminalName"], "$/MMBtu")] = dollar_prices
    prices_df.loc[:, (l["terminalName"], "€/MWh")] = euro_prices


# Insert months and set as index of the DataFrame
prices_df["Months"] = months
prices_df = prices_df.set_index("Months")

In [9]:
prices_df

           Zeebrugge
             $/MMBtu  €/MWh
Months
2024-02-01     0.416  1.297
2024-03-01     0.409  1.275
2024-04-01     0.395  1.232
2024-05-01     0.383  1.194
2024-06-01     0.377  1.175
2024-07-01     0.377  1.175
2024-08-01     0.378  1.178
2024-09-01     0.387  1.206
2024-10-01     0.407  1.269
2024-11-01     0.435  1.356
2024-12-01     0.450  1.403
2025-01-01     0.457  1.424

In [12]:
# Example of calling specific data for a chosen terminal

prices_df["Zeebrugge"]["$/MMBtu"]

Months
2024-02-01    0.416
2024-03-01    0.409
2024-04-01    0.395
2024-05-01    0.383
2024-06-01    0.377
2024-07-01    0.377
2024-08-01    0.378
2024-09-01    0.387
2024-10-01    0.407
2024-11-01    0.435
2024-12-01    0.450
2025-01-01    0.457
Name: $/MMBtu, dtype: float64

## 3. Historical Prices

Here we perform a similar task, but with historical prices instead. This is done using the URL:

__/beta/sparkr/releases/{limit}{offset}__

First we define the function that imports the data from the Spark API.

We then call that function, and define 2 parameters:
- 'limit': this allows you to control how many datapoints you want to call. Here we use 'limit=3', which means we have called the last 3 datapoints (Terminal price data for the last 3 business days).
    - Alter this limit to however many datapoints you need.
    - The default is set as 4 (in the first line of the function). If the limit parameter is not defined, this value will be used.
- 'offset': This parameter is optional, and the default value is None. Input how many business days you would like to offset the data
    - for example, offset=2 gets terminal data from 2 business days ago.


We save the output as a local variable called 'historical'

In [13]:
## Defining the function


def fetch_price_releases(access_token, limit=4, offset=None):
    query_params = "?limit={}".format(limit)
    if offset is not None:
        query_params += "&offset={}".format(offset)

    content = do_api_get_query(
        uri="/beta/sparkr/releases/{}".format(query_params), access_token=access_token
    )

    return content["data"]


## Calling that function and storing the output

historical = fetch_price_releases(access_token, limit=3)

Fetching https://api.sparkcommodities.com/beta/sparkr/releases/?limit=3

In [15]:
# checking raw data structure
print(historical[0])

{'releaseDate': '2024-01-15', 'terminalCode': 'zeebrugge', 'terminalName': 'Zeebrugge', 'perVesselSize': {'160000': {'deliveryMonths': [{'month': '2024-02-01', 'costsInUsdPerMmbtu': {'total': '0.433'}, 'costsInEurPerMwh': {'total': '1.349'}}, {'month': '2024-03-01', 'costsInUsdPerMmbtu': {'total': '0.425'}, 'costsInEurPerMwh': {'total': '1.324'}}, {'month': '2024-04-01', 'costsInUsdPerMmbtu': {'total': '0.411'}, 'costsInEurPerMwh': {'total': '1.281'}}, {'month': '2024-05-01', 'costsInUsdPerMmbtu': {'total': '0.399'}, 'costsInEurPerMwh': {'total': '1.243'}}, {'month': '2024-06-01', 'costsInUsdPerMmbtu': {'total': '0.393'}, 'costsInEurPerMwh': {'total': '1.224'}}, {'month': '2024-07-01', 'costsInUsdPerMmbtu': {'total': '0.394'}, 'costsInEurPerMwh': {'total': '1.228'}}, {'month': '2024-08-01', 'costsInUsdPerMmbtu': {'total': '0.395'}, 'costsInEurPerMwh': {'total': '1.231'}}, {'month': '2024-09-01', 'costsInUsdPerMmbtu': {'total': '0.403'}, 'costsInEurPerMwh': {'total': '1.256'}}, {'month': '2024-10-01', 'costsInUsdPerMmbtu': {'total': '0.423'}, 'costsInEurPerMwh': {'total': '1.319'}}, {'month': '2024-11-01', 'costsInUsdPerMmbtu': {'total': '0.451'}, 'costsInEurPerMwh': {'total': '1.406'}}, {'month': '2024-12-01', 'costsInUsdPerMmbtu': {'total': '0.466'}, 'costsInEurPerMwh': {'total': '1.453'}}, {'month': '2025-01-01', 'costsInUsdPerMmbtu': {'total': '0.474'}, 'costsInEurPerMwh': {'total': '1.477'}}], 'assumptions': {'vesselSizeCbm': 160000, 'dischargeVolumeMmbtu': 3492366}}, '174000': {'deliveryMonths': [{'month': '2024-02-01', 'costsInUsdPerMmbtu': {'total': '0.416'}, 'costsInEurPerMwh': {'total': '1.297'}}, {'month': '2024-03-01', 'costsInUsdPerMmbtu': {'total': '0.409'}, 'costsInEurPerMwh': {'total': '1.275'}}, {'month': '2024-04-01', 'costsInUsdPerMmbtu': {'total': '0.395'}, 'costsInEurPerMwh': {'total': '1.232'}}, {'month': '2024-05-01', 'costsInUsdPerMmbtu': {'total': '0.383'}, 'costsInEurPerMwh': {'total': '1.194'}}, {'month': '2024-06-01', 'costsInUsdPerMmbtu': {'total': '0.377'}, 'costsInEurPerMwh': {'total': '1.175'}}, {'month': '2024-07-01', 'costsInUsdPerMmbtu': {'total': '0.377'}, 'costsInEurPerMwh': {'total': '1.175'}}, {'month': '2024-08-01', 'costsInUsdPerMmbtu': {'total': '0.378'}, 'costsInEurPerMwh': {'total': '1.178'}}, {'month': '2024-09-01', 'costsInUsdPerMmbtu': {'total': '0.387'}, 'costsInEurPerMwh': {'total': '1.206'}}, {'month': '2024-10-01', 'costsInUsdPerMmbtu': {'total': '0.407'}, 'costsInEurPerMwh': {'total': '1.269'}}, {'month': '2024-11-01', 'costsInUsdPerMmbtu': {'total': '0.435'}, 'costsInEurPerMwh': {'total': '1.356'}}, {'month': '2024-12-01', 'costsInUsdPerMmbtu': {'total': '0.450'}, 'costsInEurPerMwh': {'total': '1.403'}}, {'month': '2025-01-01', 'costsInUsdPerMmbtu': {'total': '0.457'}, 'costsInEurPerMwh': {'total': '1.424'}}], 'assumptions': {'vesselSizeCbm': 174000, 'dischargeVolumeMmbtu': 3814333}}}}

### Storing as a DataFrame

In [16]:
# Setting up the column names - Terminal names and cost types for each terminal

columns1 = []
columns2 = []
for i in range(len(historical)):
    columns1.append(historical[i]["terminalName"])
    columns1.append(historical[i]["terminalName"])

    columns2.append("$/MMBtu")
    columns2.append("€/MWh")

col1_temp = np.unique(columns1)
col2_temp = np.unique(columns2)

terminal_num = len(col1_temp)
terminal_names = col1_temp

col1 = []
col2 = []
for c in col1_temp:
    col1.append(c)
    col1.append(c)

    col2.append(col2_temp[0])
    col2.append(col2_temp[1])

In [17]:
# Setting up the indices for the Dataframe - Release Dates and Months

months_raw = []
reldates_raw = []

for l in historical:
    for d in l["perVesselSize"]["174000"]["deliveryMonths"]:
        months_raw.append(d["month"])
        reldates_raw.append(l["releaseDate"])

mtemps = np.unique(months_raw)
rtemps = np.unique(reldates_raw)

ind1 = []
ind2 = []
for r in rtemps:
    for c in mtemps:
        ind1.append(r)
        ind2.append(c)

In [18]:
# Setting up DataFrame with MultiIndex Index and Columns
histtemp_df = pd.DataFrame(
    index=[np.array(ind1), np.array(ind2)], columns=[np.array(col1), np.array(col2)]
)

# Loop through all terminals and release dates
for l in historical:
    # create temporary dataframe for each dataset
    df = pd.DataFrame(columns=[np.array(col1), np.array(col2)])
    dollar_prices = []
    euro_prices = []
    release_dates = []
    months = []

    # append data for each terminal - similar to process done for 'Latest Price Release' but over several release dates
    for d in l["perVesselSize"]["174000"]["deliveryMonths"]:
        dollar_prices.append(d["costsInUsdPerMmbtu"]["total"])
        euro_prices.append(d["costsInEurPerMwh"]["total"])
        release_dates.append(l["releaseDate"])
        months.append(d["month"])

    if l["terminalName"] == "Lubmin":
        print(dollar_prices)
        print(df.loc[:, (l["terminalName"], "$/MMBtu")])

    df.loc[:, (l["terminalName"], "$/MMBtu")] = dollar_prices
    df.loc[:, (l["terminalName"], "€/MWh")] = euro_prices
    df["Months"] = months
    df["Release Date"] = release_dates

    df.set_index(["Release Date", "Months"], inplace=True)

    print(l["terminalName"])
    print(df[l["terminalName"]].head(3))

    # combine temp dataframe with main dataframe
    histtemp_df = pd.concat([histtemp_df, df])

Zeebrugge
                        $/MMBtu  €/MWh
Release Date Months
2024-01-15   2024-02-01   0.416  1.297
             2024-03-01   0.409  1.275
             2024-04-01   0.395  1.232
Zeebrugge
                        $/MMBtu  €/MWh
Release Date Months
2024-01-12   2024-02-01   0.429  1.335
             2024-03-01   0.418  1.301
             2024-04-01   0.404  1.257
Zeebrugge
                        $/MMBtu  €/MWh
Release Date Months
2024-01-11   2024-02-01   0.423  1.319
             2024-03-01   0.413  1.287
             2024-04-01   0.399  1.244

In [19]:
# histtemp_df has lots of empty values, so for each column we remove these empty values
# Then add final prices to a new DataFrame - hist_df

# finding longest dataset and using that as the index for the dataframe
lengths = []
for t in terminal_names:
    lengths.append(len(histtemp_df[t].dropna().index))

# setup new df
hist_df = pd.DataFrame(
    index=histtemp_df[terminal_names[lengths.index(max(lengths))]].dropna().index,
    columns=[np.array(col1), np.array(col2)],
)

# Drop empty values for each terminal and then add to hist_df
for t in terminal_names:
    print(len(histtemp_df[t].dropna()))
    hist_df[t] = histtemp_df[t].dropna()

36

## Final Table

In [20]:
# preview of the final Pandas DataFrame, where data can be easily read
# Data can also be easily indexed by release date, month, terminal and cost-type

hist_df

                      Zeebrugge
                        $/MMBtu  €/MWh
2024-01-15 2024-02-01     0.416  1.297
           2024-03-01     0.409  1.275
           2024-04-01     0.395  1.232
           2024-05-01     0.383  1.194
           2024-06-01     0.377  1.175
           2024-07-01     0.377  1.175
           2024-08-01     0.378  1.178
           2024-09-01     0.387  1.206
           2024-10-01     0.407  1.269
           2024-11-01     0.435  1.356
           2024-12-01     0.450  1.403
           2025-01-01     0.457  1.424
2024-01-12 2024-02-01     0.429  1.335
           2024-03-01     0.418  1.301
           2024-04-01     0.404  1.257
           2024-05-01     0.391  1.217
           2024-06-01     0.385  1.198
           2024-07-01     0.386  1.201
           2024-08-01     0.387  1.204
           2024-09-01     0.395  1.230
           2024-10-01     0.416  1.295
           2024-11-01     0.443  1.379
           2024-12-01     0.459  1.428
           2025-01-01     0.466  1.450
2024-01-11 2024-02-01     0.423  1.319
           2024-03-01     0.413  1.287
           2024-04-01     0.399  1.244
           2024-05-01     0.386  1.203
           2024-06-01     0.381  1.187
           2024-07-01     0.381  1.187
           2024-08-01     0.382  1.191
           2024-09-01     0.389  1.213
           2024-10-01     0.411  1.281
           2024-11-01     0.438  1.366
           2024-12-01     0.455  1.418
           2025-01-01     0.462  1.441

In [21]:
# Example 1 - fetch all Zeebrugge prices
hist_df["Zeebrugge"]

                      $/MMBtu  €/MWh
2024-01-15 2024-02-01   0.416  1.297
           2024-03-01   0.409  1.275
           2024-04-01   0.395  1.232
           2024-05-01   0.383  1.194
           2024-06-01   0.377  1.175
           2024-07-01   0.377  1.175
           2024-08-01   0.378  1.178
           2024-09-01   0.387  1.206
           2024-10-01   0.407  1.269
           2024-11-01   0.435  1.356
           2024-12-01   0.450  1.403
           2025-01-01   0.457  1.424
2024-01-12 2024-02-01   0.429  1.335
           2024-03-01   0.418  1.301
           2024-04-01   0.404  1.257
           2024-05-01   0.391  1.217
           2024-06-01   0.385  1.198
           2024-07-01   0.386  1.201
           2024-08-01   0.387  1.204
           2024-09-01   0.395  1.230
           2024-10-01   0.416  1.295
           2024-11-01   0.443  1.379
           2024-12-01   0.459  1.428
           2025-01-01   0.466  1.450
2024-01-11 2024-02-01   0.423  1.319
           2024-03-01   0.413  1.287
           2024-04-01   0.399  1.244
           2024-05-01   0.386  1.203
           2024-06-01   0.381  1.187
           2024-07-01   0.381  1.187
           2024-08-01   0.382  1.191
           2024-09-01   0.389  1.213
           2024-10-01   0.411  1.281
           2024-11-01   0.438  1.366
           2024-12-01   0.455  1.418
           2025-01-01   0.462  1.441